.NINJA{
    font-family: 'Archivo', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    width: 344px; left: 10px;
    top: 11px;
    position: absolute;
    color: #053B50; font-size: 40px;
    font-family: Fredoka One;
    font-weight: 700; word-wrap: break-word
}


a {
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  text-decoration: none;
}

.HeroWrapperText {
    padding-top: 59px;
    left: 147px;
    top: 216.50px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 75px;
    display: inline-flex;
}

.HeaderText {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 28px;
    display: flex;
}

.H1PrimaryText {
    color: #1A202C;
    font-size: 53px;
    font-family: Inter;
    font-weight: 800;
    line-height: 71px;
    word-wrap: break-word;
}

.SpanDecorativeText {
    width: 531px;
    height: 58px;
    color: #4A5568;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word;
}

.BtnPrimary {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 19px;
    padding-bottom: 19px;
    background: #64CCC5;
    box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    border: none;
    cursor: pointer;
}

.Subscribe {
    color: #FAFAFA;
    font-size: 24px;
    font-family: Inter;
    font-weight: 600;
    line-height: 14px;
    word-wrap: break-word;
}

.NinjaLicenseSection {
  width: 1478px;
  height: 281px;
  left: 86px;
  top: 1027px;
  position: absolute;
  text-align: center
}

.SectionHeading1 {
  color: black;
  font-size: 53px;
  font-family: Inter;
  font-weight: 800;
  line-height: 71px;
  word-wrap: break-word
}

.SectionDescription {
 color: black;
 font-size: 25px;
 font-family: Inter;
 font-weight: 400;
 line-height: 71px;
 word-wrap: break-word
}

.ButtonSignup {
  width: 353.53px;
  height: 49px;
  left: 673px;
  top: 1216px;
  position: absolute;
}

.InputPassword {
  width: 353.53px;
  height: 49px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  border-radius: 7px;
  border: 1px #053B50 solid;
}

.Subscribe1 {
  width: 302px;
  left: 26px;
  top: 9px;
  position: absolute;
  text-align: center;
  color: #053B50;
  font-size: 25px;
  font-family: Fredoka One;
  font-weight: 400;
  word-wrap: break-word;
}

.Box {
  width: 40px;
  height: 40px;
  left: 15px;
  top: 15px;
  position: absolute;
}

.Vector {
  position: absolute;
}

#Vector1 {
  width: 37.69px;
  height: 40px;
  left: 1.16px;
  top: 0px;
  background: #FFE17D;
}

#Vector2 {
  width: 18.84px;
  height: 30.99px;
  left: 1.16px;
  top: 9.01px;
  background: #FFC350;
}

#Vector3 {
  width: 18.84px;
  height: 30.99px;
  left: 20px;
  top: 9.01px;
  background: #FFD164;
}

#Vector4 {
  width: 4.07px;
  height: 2.63px;
  left: 3.10px;
  top: 26.87px;
  background: #FFE17D;
}

#Vector5 {
  width: 6.61px;
  height: 3.86px;
  left: 3.11px;
  top: 23.99px;
  background: #FFF6D8;
}

#Vector6 {
  width: 23.76px;
  height: 11.50px;
  left: 8.63px;
  top: 2.98px;
  background: #FF8087;
}

#Vector7 {
  width: 4.91px;
  height: 9.79px;
  left: 27.47px;
  top: 12.06px;
  background: #E6646E;
}

.Rectangle8 {
  width: 370px;
  height: 308px;
  left: 0px;
  top: 0px;
  position: absolute;
  opacity: 0.04;
  background: white;
  box-shadow: 0px 30px 50px #030325;
  border-radius: 14px;
  border: 2px solid;
}

.Rectangle9 {
  width: 27px;
  height: 27px;
  left: 22px;
  top: 35px;
  position: absolute;
  background: rgba(255, 195, 80, 0.25);
  box-shadow: 10px 10px 10px;
  border-radius: 10px;
  filter: blur(10px);
}

.Group20{
    width: 70px;
    height: 70px;
    left: 30px;
    top: 30px;
    position: absolute;
}

.Rectangle7{
    width: 370px;
    height: 308px;
    left: 0px;
    top: 0px;
    position: absolute;
    opacity: 0.04;
    border-radius:
    14px; border:
    2px #060640 solid;
}

.Step1{
    width: 370px;
    height: 308px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.Group21{
    width: 1170px;
    height: 308px;
    left: 154px;
    top: 303px;
    position: absolute;
}

.NinjaNinjaLicense {
  width: 1478px;
  height: 281px;
  left: 86px;
  top: 1027px;
  position: absolute;
  text-align: center;
}

.NewFeatureTitle {
  color: black;
  font-size: 53px;
  font-family: Inter;
  font-weight: 800;
  line-height: 71px;
  word-wrap: break-word;
}

.FeatureDescription {
  color: black;
  font-size: 25px;
  font-family: Inter;
  font-weight: 400;
  line-height: 71px;
  word-wrap: break-word;
}

.Statistics {
  width: 40px;
  height: 40px;
  left: 15px;
  top: 15px;
  position: absolute;
}

.Statistics .Vector {
  position: absolute;
}

#Vector8 {
  width: 9.17px;
  height: 16.23px;
  left: 4.52px;
  top: 23.77px;
  background: #FFDC4A;
}

#Vector9 {
  width: 4.11px;
  height: 16.23px;
  left: 4.52px;
  top: 23.77px;
  background: #EDCA3A;
}

#Vector10 {
  width: 9.17px;
  height: 22.12px;
  left: 16.96px;
  top: 17.88px;
  background: #FF3132;
}

#Vector11 {
  width: 4.11px;
  height: 22.12px;
  left: 16.96px;
  top: 17.88px;
  background: #D82A2B;
}

#Vector12 {
  width: 9.17px;
  height: 28px;
  left: 29.41px;
  top: 12px;
  background: #3CDCF9;
}

#Vector13 {
  width: 4.11px;
  height: 28px;
  left: 29.41px;
  top: 12px;
  background: #30CBE8;
}

#Vector14 {
  width: 38.87px;
  height: 19.15px;
  left: 0.57px;
  top: 0px;
  background: #2DC580;
}

.Rectangle10{
    width: 70px;
    height: 70px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(236, 249, 255, 0.80);
    border-radius: 10px
}

.Rectangle7{
    width: 370px;
    height: 308px;
    left: 0px;
    top: 0px;
    position: absolute;
    opacity: 0.04;
    border-radius: 14px;
    border: 2px #060640 solid;
}

.Step3{
    width: 370px;
    height: 308px;
    left: 800px;
    top: 0px;
    position: absolute
}

.Rectangle99{
    width: 27px;
    height: 27px;
    left: 52px;
    top: 62px;
    position: absolute;
    background: rgba(255, 79, 56, 0.20);
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
    filter: blur(10px)
}

.Calendar {
  width: 40px;
  height: 40.31px;
  left: 15px;
  top: 15px;
  position: absolute;
}

.Calendar .Vector {
  position: absolute;
}

#Vector15 {
  width: 40px;
  height: 30.24px;
  left: 0px;
  top: 10.08px;
  background: white;
}

#Vector16 {
  width: 40px;
  height: 5.04px;
  left: 0px;
  top: 10.08px;
  background: #DCE9FF;
}

#Vector17 {
  width: 2.50px;
  height: 5.04px;
  left: 5px;
  top: 0px;
  background: #D0DCEE;
}

#Vector18 {
  width: 2.50px;
  height: 5.04px;
  left: 32.50px;
  top: 0px;
  background: #D0DCEE;
}

#Vector19 {
  width: 8.23px;
  height: 8.30px;
  left: 31.77px;
  top: 32.02px;
  background: #DBE6F8;
}

#Vector20 {
  width: 18.14px;
  height: 13.40px;
  left: 10.98px;
  top: 18.53px;
  background: #0AC1A7;
}

#Vector21 {
  width: 40px;
  height: 8.82px;
  left: 0px;
  top: 3.78px;
  background: #FF3132;
}

.Step{
    width: 370px;
    height: 308px;
    left: 400px;
    top: 0px;
    position: absolute
}

.SectionHeading {
  width: 431px;
  height: 123px;
  left: 523px;
  top: 110px;
  position: absolute;
}

.HowItWorks {
  left: 75px;
  top: 0px;
  position: absolute;
  text-align: center;
  color: #060640;
  font-size: 45px;
  font-family: Airbnb Cereal App;
  font-weight: 700;
  line-height: 55px;
  word-wrap: break-word;
}

.BusinessesGenerallyPromoteTheirBrandProductsAndServicesByIdentifyingAudience {
  width: 431px;
  left: 0px;
  top: 67px;
  position: absolute;
  text-align: center;
  color: #9090A7;
  font-size: 16px;
  font-family: Airbnb Cereal App;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}



.Rectangle88{
width: 70px;
height: 70px;
left: 0px;
top: 0px;
position: absolute;
background: rgba(236, 249, 255, 0.80);
border-radius: 10px;
}

.LicenseWarning {
  width: 253px;
  height: 73px;
  left: 584px;
  top: 493px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Fredoka One;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}

.RealTimeLicenseManagement {
  width: 302px;
  height: 38px;
  left: 184px;
  top: 443px;
  position: absolute;
  color: black;
  font-size: 24px;
  font-family: Inter;
  font-weight: 400;
  line-height: 34px;
  word-wrap: break-word;
}

.Process{
width: 1475px;
height: 652px;
left: 88px;
top: 1552px;
position: absolute;
}

.NotificationReminder {
  width: 303px;
  height: 33px;
  left: 586px;
  top: 443px;
  position: absolute;
  color: black;
  font-size: 24px;
  font-family: Inter;
  font-weight: 400;
  line-height: 34px;
  word-wrap: break-word;
}

.MultipleLicenseManagement {
  width: 305px;
  height: 42px;
  left: 984px;
  top: 441px;
  position: absolute;
  color: black;
  font-size: 24px;
  font-family: Fredoka One;
  font-weight: 400;
  line-height: 34px;
  word-wrap: break-word;
}

.LicenseTracking {
  width: 289px;
  height: 78px;
  left: 984px;
  top: 482px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Fredoka One;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}

.LicenseExpiration {
  width: 271px;
  height: 94px;
  left: 184px;
  top: 493px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}

.Frame57 {
  width: 1644px;
  height: 83px;
  left: 6px;
  top: 0px;
  position: absolute;
  background: white;
   z-index: 1;
}

.ServiceLabel {
  left: 173px;
  top: 31px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
}

.ProductLabel {
  width: 56px;
  height: 28px;
  left: 267px;
  top: 31px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
   z-index: 2;
}


.LoginLink {
  left: 1531px;
  top: 35px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
}

.LoginLink a {
  text-decoration: none;
  color: inherit;
}

.NavContainer {
  position: absolute;
  top: 31px;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
}

.NavItem {
  position: relative;
  display: inline-block;
  margin-right: 20px; /* 조절 가능 */
}

.NavItem a {
  color: black;
  text-decoration: none;
}

