<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>File Download Example</title>
  <link rel="stylesheet" type="text/css" href="/css/download.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&display=swap" rel="stylesheet">
</head>
<body>
<div style="width: 1472px; height: 1013px; position: relative; background: #EEEEEE">
  <div class="Group1">
    <div class="Rectangle1"></div>
    <div class="NinjaClientesLicense">
      NinJa CLIENTES를 사용하면 해당 license 및 개인정보처리방침에 동의하는 것 입니다.
    </div>
    <div class="NinjaClientes">
      NinJa CLIENTES 에서 실행되는 독립 실행형 클라이언트 입니다. 라이센스 관리를 원하는 사용자에게 가장 좋은 옵션이며, 거의 모든 종류의 라이센스들을 지원합니다
    </div>
    <div class="LicenseSystem">
      최고의 라이센스 관리 시스템
    </div>
    <div class="ButtonLogin">
      <div class="InputPassword"></div>
      <div class="DownloadButton">
        <a href="/downloadmain">무료 다운로드</a>
      </div>
    </div>
    <div class="NinjaCl">NinJa Clientes | </div>
  </div>
  <div class="Frame57">
    <div class="serviceLabel">서비스</div>
    <div class="productLabel">제품</div>
    <div class="Ninja">NINJA</div>
    <div class="logoutLabel"><a href="/member/logout">로그아웃</a></div>
    <div class="loginSignupLabel">
      <p th:text="${session.loginEmail}"></p>
    </div>

  </div>
  </div>
</body>
</html>