<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>info</title>
    <link rel="stylesheet" type="text/css" href="/css/info.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
</head>
<body>
<header>
    <div class="var">
        <a href="/member/main"><h1 class="NINJA_H1">NINJA</h1></a>
        <a class="service" href="/member/info">서비스</a>
        <a class="service" href="/member/downloadmain">제품</a>
    </div>
    <a href="/member/update" style="margin-left: 70%;" th:text="${session.loginEmail}"></a>
    <a class="service2" href="/member/logout">로그아웃</a>
</header>
<section class="section1">
    <h1 class="title_var">응용 프로그램 설명서</h1>
    <input type="text" class="box_submit" id="searchInput" placeholder="검색어를 입력하세요">
    <button class="scrollButton" onclick="scrollToSection2()">이동</button>
</section>
<div class="box_table">
<section class="box1">
    <p>사용법</p>
</section>
<section class="box2">
    <p>삐이캬츄?</p>
</section>
</div>
<script>
 // 검색 함수
  function searchAndScroll(query) {
    const element = document.querySelector('.box2');

    if (element && element.textContent.toLowerCase().includes(query.toLowerCase())) {
      // 검색어를 찾으면 해당 부분으로 스크롤
      element.scrollIntoView({ behavior: 'smooth', block: 'start' });
    } else {
      alert('검색어를 찾을 수 없습니다.');
    }
  }

  // 검색어 입력 시 이벤트 처리
  document.addEventListener("DOMContentLoaded", function() {
    const searchInput = document.getElementById('searchInput');

    searchInput.addEventListener('change', function() {
      const query = searchInput.value;
      searchAndScroll(query);
    });
  });

  // 버튼 클릭 시 이동 함수
  function scrollToSection2() {
    const element = document.querySelector('.box2');

    if (element) {
      element.scrollIntoView({ behavior: 'smooth', block: 'start' });
    }
  }
</script>


</body>
</html>