<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="Rectangle2" style="width: 1920px; height: 1080px; left: 0px; top: -5px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"></div>
    <div style="left: 31px; top: 220px; position: absolute; color: rgba(0, 0, 0, 0.70); font-size: 20px; font-family: Inter; font-weight: 600; line-height: 14px; word-wrap: break-word">회원정보 관리</div>
    <div style="left: 31px; top: 274px; position: absolute; color: rgba(0, 0, 0, 0.70); font-size: 20px; font-family: Inter; font-weight: 600; line-height: 14px; word-wrap: break-word">라이센스 관리</div>
    <div style="left: 31px; top: 160px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 600; line-height: 30px; word-wrap: break-word">마이페이지</div>
    <div class="Rectangle35" style="width: 1666px; height: 1006px; left: 261px; top: 73px; position: absolute; background: #EEEEEE"></div>
    <div class="Group24" style="width: 1016px; height: 568px; left: 380px; top: 156px; position: absolute">
        <div class="Group1" style="width: 1016px; height: 568px; left: 0px; top: 0px; position: absolute">
            <div class="Rectangle1" style="width: 1016px; height: 568px; left: 0px; top: 0px; position: absolute; background: #F9F9F9; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); border-radius: 20px"></div>
            <div style="width: 145px; left: 28px; top: 286px; position: absolute; color: black; font-size: 16px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word">구독정보</div>
            <div class="Line15" style="width: 845.01px; height: 0px; left: 28px; top: 340px; position: absolute; border: 1px #DBCFCF solid"></div>
            <div class="Rectangle34625594" style="width: 637px; height: 49px; left: 216px; top: 271px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 145px; left: 29px; top: 197px; position: absolute; color: black; font-size: 16px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word">비밀번호</div>
            <div class="Line14" style="width: 845.01px; height: 0px; left: 28px; top: 251px; position: absolute; border: 1px #DBCFCF solid"></div>
            <div class="Rectangle34625593" style="width: 637px; height: 49px; left: 216px; top: 182px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 145px; left: 28px; top: 117px; position: absolute; color: black; font-size: 16px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word">이메일</div>
            <div style="width: 825.45px; left: 27.85px; top: 23px; position: absolute; color: #053B50; font-size: 40px; font-family: Fredoka One; font-weight: 400; word-wrap: break-word">사용자 정보 수정</div>
            <div class="ButtonLogin" style="width: 160px; height: 48px; left: 713px; top: 360px; position: absolute">
                <div class="InputPassword" style="width: 160px; height: 48px; left: 0px; top: 0px; position: absolute; background: #053B50; border-radius: 7px"></div>
                <div style="width: 99.15px; height: 34.12px; left: 25.69px; top: 13.88px; position: absolute; text-align: center; color: white; font-size: 32px; font-family: Fredoka One; font-weight: 400; word-wrap: break-word">정보 변경</div>
            </div>
        </div>
        <div class="Line14" style="width: 845.01px; height: 0px; left: 28px; top: 171px; position: absolute; border: 1px #DBCFCF solid"></div>
    </div>
    <div style="left: 1759px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 600; line-height: 14px; word-wrap: break-word">로그인/가입</div>
    <div class="Line6" style="width: 240.01px; height: 0px; left: 17px; top: 202.25px; position: absolute; border: 1px black solid"></div>
    <div class="Frame57" style="width: 1920px; height: 83px; left: 7px; top: -10px; position: absolute; background: white">
        <div style="left: 173px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 600; line-height: 14px; word-wrap: break-word">서비스<br/></div>
        <div style="width: 56px; height: 28px; left: 267px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 600; line-height: 14px; word-wrap: break-word">제품</div>
        <div class="Ninja" style="width: 344px; left: 29px; top: 13px; position: absolute; color: #053B50; font-size: 40px; font-family: Fredoka One; font-weight: 400; word-wrap: break-word">NINJA</div>
        <div style="left: 1648px; top: 41px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 600; line-height: 14px; word-wrap: break-word">로그아웃</div>
    </div>
    <div class="Rectangle34625593" style="width: 637px; height: 49px; left: 596px; top: 258px; position: absolute; background: #D9D9D9"></div>
    <div class="Line14" style="width: 845.01px; height: 0px; left: 408px; top: 238px; position: absolute; border: 1px black solid"></div>
</body>
</html>