<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

</head>
<body>
<form action = "/member/login" method="post">

  <div class="Frame51">
    <div class="Rectangle1"></div>
    <div class="Rectangle19"></div>
    <div class="Login">Login</div>
    <div class ="email">이메일</div>
    <div class = "next"><input type = "submit" value="로그인"></div>
    <div class="Line3"></div>
    <div class = "emails">
      <input type="text" name = "memberEmail" placeholder="이메일을 입력해주세요"
      style="width: 15em; height: 2em; border: none; background-color: #F9F9F9;"></div>
    <div class = "password">비밀번호</div>
    <div class="Line4"></div>
    <div class ="passwords"><input type="password" name = "memberPassword"
                                   placeholder="비밀번호를 입력해주세요"
                                   style="width: 15em; height: 2em; border: none; background-color: #F9F9F9;"></div>
    <div class="Ninja">NINJA</div>
    <div class = "singUp"><a href="/member/save">회원가입</a></div>

</div>
</form>
</body>
</html>
