<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/save.css">
</head>
<body style="background-color:#F9F9F9">
<form action = "/member/save" method="post">
<div class="container">
  <div class="frame">
    <div class="Rectangle1" style="width: 513px; height: 644px; left: 18px; top: 81px; position: absolute; background: #F9F9F9; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); border-radius: 20px"></div>
    <div style="width: 357px; height: 38px; left: 68px; top: 127px; position: absolute; color: black; font-size: 30px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word">이메일로 시작</div>
    <div style="width: 357px; height: 38px; left: 68px; top: 207px; position: absolute; color: black; font-size: 25px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word">이메일</div>
    <div class="Line3"></div>
    <div style="width: 417px; height: 55px; left: 66px; top: 265px; position: absolute; color: #A9A9A9; font-size: 25px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word">
      <input type="text" name = "memberEmail" placeholder="이메일을 입력해주세요"></div>
    <div class="Ninja">NINJA</div>
    <div class="Rectangle19"></div>
    <div style="width: 59px; height: 30px; left: 248px; top: 632px; position: absolute; color: black; font-size: 25px; font-family: Inria Sans; font-weight: 400;
    word-wrap: break-word"><input type="submit" value="회원가입"></div>
    <div style="width: 84px; height: 20px; left: 64px; top: 340px; position: absolute; color: black; font-size: 20px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word">비밀번호</div>
    <div class="Line4" style="width: 422px; height: 0px; left: 63px; top: 422.60px; position: absolute; border: 1px black solid"></div>
    <div class="password1" style="width: 357px; height: 33px; left: 64px; top: 386px; position: absolute; color:
#A9A9A9; font-size: 20px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word"><input type="password" name = "memberPassword" placeholder="비밀번호를 입력해주세요"></div>
    <div style="width: 154px; height: 30px; left: 65px; top: 448px; position: absolute; color: black; font-size: 20px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word">비밀번호 확인</div>
    <div class="Line5" style="width: 419px; height: 0px; left: 64px; top: 530px; position: absolute; border: 1px black solid"></div>
    <div class="password2" style="width: 357px; height: 33px; left: 65px; top: 494px; position: absolute;
color: #A9A9A9; font-size: 20px; font-family: Inria Sans; font-weight: 400; word-wrap: break-word"><input type="text" name = "memberPassword1" placeholder="비밀번호를 입력해주세요"></div>
  </div>
</div>
</form>
</body>
</html>