<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/sub.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&family=Fredoka:wght@600&family=Gothic+A1:wght@800&family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&family=Fredoka:wght@500&family=Gothic+A1:wght@800&family=Noto+Sans+KR:wght@500&family=Orbit&display=swap" rel="stylesheet">
</head>
<body>
<div class="mainview">
  <div class="Group1">
    <div class="Rectangle1"></div>
    <div class="Free">FREE</div>
    <div class="UserDescription" th:if ="${message}">
      <p th:text="${message}" style="color: red;"></div>
    <div class="LicenseSystemDescription">최고의 라이센스 관리 시스템
      <br>1달 구독하기!</div>
    <div class="ButtonLogin">
      <div class="InputPassword"></div>
      <button class="button2" th:onclick="|location.href='/generateRandomMixedValue?months=1'|">구독하기</button>
    </div>
    <div class="NinjaTitle">NinJa</div>
  </div>
  <!-- 오른쪽 구독 처리 -->
  <div class="Group2">
    <div class="Rectangle2"></div>
    <div class="Free1">FREE</div>
    <div class="LicenseSystemDescription1" th:if ="${message}">
      <p th:text="${message}" style="color: red;"></div>
    <div class="li">최고의 라이센스 관리 시스템<br>3달 구독하기!</div>
    <div class="ButtonLogin22">
      <div class="InputPassword22"></div>
      <button class="button1" th:onclick="|location.href='/generateRandomMixedValue?months=3'|">구독하기</button>
    </div>
    <div class="Ninja1">NinJa</div>
  </div>
</div>
<header class="header">
  <div class="var">
    <h1 class="NINJA_H1"><a href="/member/main">NINJA</a></h1>
    <a class="service" href="#">서비스</a>
    <a class="service" href="/member/downloadmain">제품</a>
  </div>
  <a href="/member/update" style="margin-left: 70%;" th:text="${session.loginEmail}"></a>
  <a class="service2" href="/member/logout">로그아웃</a>
</header>
</div>
</body>
</html>